/NetBeansProjects/j230116/dist/
/NetBeansProjects/j230116/build/
/window230217/nbproject/private/
/NetBeansProjects/window230217/nbproject/private/
/NetBeansProjects/window230217/build/
/NetBeansProjects/window230217/dist/
/teacher/Windows230217/build/
/teacher/Windows230217/dist/
/teacher/Windows230217/nbproject/private/
/teacher/j230116/build/
/teacher/j230116/dist/
/teacher/j230116/nbproject/private/
/program/nbproject/private/
/program/build/
/moduleprogram/nbproject/private/
/moduleprogram/build/
